.tableContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background: rgba(0,0,0,0.05);
    border-radius: 25px;
    width: 80%;
    max-width: 600px;
    padding: 4em;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
    border: 1px solid #D22030;
    text-align: center;
}

table, td {
    border: 1px solid;
    width: 100%;
    margin-bottom: 5px;
    border-collapse: collapse;
  }

th {
    border: 1px solid;
    height: 70px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
    margin-bottom: 10px;
}

.paginationBtns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    user-select: none;
    border-radius: 500px;
    overflow: auto;
}

.paginationBtns a {
    padding: 10px;
    margin: 8px;
    cursor: pointer;
}

.paginationBtns a:hover{
    color:#D22030;
}

/* .pagActive{
    color:white;
    background-color: #D22030;
} */

.pagDisabled{
    color: black;
    background-color: white;
}
