.content {
    width: auto;
    height: auto;
    margin-top: 10px;
    border: 1px solid #686868;
    display: none;
    justify-content: center;
    border-radius: 10px;
    text-align: left;
}

.show {
    display: flex;
}

.info{
    padding: 2px 10px;
}

.minus{
    padding: 2px 5px;
}
