.scheduler-container {
  width: 90%;
  margin: auto;
}

.course-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip .csn-btn-icon {
  margin: 0 4px;
}

.scheduler-subtitle {
  margin-top: 2em;
}

.home-comp hr {
  width: 90%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,0.2);
}
.scheduler-center{
  display: flex;
  justify-content: center;
}

.scheduler-unit-grey{
  color: #4B5267;
}

.scheduler-unit-red{
  color: red;
}

.csn-search-area {
  position: relative;
}

.search-courses-container {
  background-color: #F0F0F0;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
}
