.importContainer {
  width: 100%;
  height: calc(100% - 135px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.importWrapper{
  text-align: center;
  
}

.ic{
  margin-right: 5px;
}

.import{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}