.importContainer {
  width: 100%;
  height: calc(100% - 135px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.importWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.importBtn{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}