.loginContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
    background: whitesmoke;
    border-radius: 25px;
    border-color: #D22030;
    border-style: solid;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4);
}

.wrapper {
    text-align: center;
}

label, input , button{
    margin: 5%;
}

.btn {
    background-color: #D22030;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    color: white;
    padding: 2%;
  }

.btn:hover {
    background-color: #555;
    color: white;
}