.nav-container{
    position: relative;
    background-color: #D22030;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1{
    padding: 0 10%;
    color: white;
    user-select: none;
}

.navButton{
    height: 100%;
    border-radius: 0%;
}