.App {
  background-color: white;
  position:fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

img.ECSlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 25%;
}

.redBtn{
  font-size: large;
  color: white;
  box-shadow: none;
  border: 1px solid black;
  padding: 5px 20px 5px 20px;
  border-radius: 500px;
  background-color: #D22030;
  background-repeat: no-repeat;
}