.App {
  background-color: white;
  position:fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0); 
}

img.ECSlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 25%;
  user-select: none;
}

.redBtn{
  font-size: large;
  color: white;
  box-shadow: none;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 500px;
  background-color: #D22030;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.27s;
  margin: 8px 0;
  user-select: none;
}

.redBtn:hover {
  background-color: #911620;
}

.page-content {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


/* Standards */

body {
  font-family: 'Open Sans', sans-serif;
}

.csn-btn {
  border-radius: 8px;
  background-color: #D22030;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0.8em 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 5px;

}

.csn-btn-icon {
  background-color: #D22030;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 14px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.csn-inp {
  background-color: white;
  border-radius: 8px;
  border: none;
  padding: 1em 2em;
  font-family: 'Open Sans', sans-serif;
}

.csn-expand {
  margin: 1em 0;
  width: 80%;
}

.csn-inp:focus {
  outline: none;
}

h1, h2, h3, h4, h5{
  color: #4B5267;
  font-weight: 400;
  /*color: #302b2b;*/
}

.light-tnt {
  background-color: rgba(0,0,0,0.12);
}
